<!DOCTYPE html>
<html>

<head>
    <script src="https://kit.fontawesome.com/7d01cdaf13.js" crossorigin="anonymous"></script>
</head>

<body>
    {% if username %}
        Hello {{ username }}!
    {% endif %}
    <button type="button" id="sign-out">Sign Out</button>
    <button type="Home" id="home">Home</button>
    <script type="text/javascript">
        document.getElementById("sign-out").addEventListener("click", (event) => {
            location.href = "{{ url_for('sign_out') | safe }}"
        });
        document.getElementById("home").addEventListener("click", (event) => {
            location.href = "{{ url_for('index') | safe }}"
        });
    </script>
    <br><br>

    {% block content %}
    {% endblock %}
</body>

</html>
