{% extends "index.html" %}

{% block content %}

Provide your Plaid client ID and at least the client secret corresponding to the Plaid environment you choose. <br>
Find your keys at the <a href="https://dashboard.plaid.com/team/keys" target="_blank">Plaid Dashboard</a>.<br><br>

<form action="{{ url_for('edit_plaid_credentials') }}" method="POST">
    <label for="plaid_client_id">Plaid Client ID</label>
    <input type="text" name="plaid_client_id" placeholder="Client ID" size="24" required value="{{ plaid_client_id }}"><br>
    <table>
        <tr>
            <td></td>
            <td align="center"><u>Sandbox</u></td>
            <td align="center"><u>Development</u></td>
            <td align="center"><u>Production</u></td>
        </tr>
        <tr>
            <td align="right">Current environment</td>
            <td align="center">
                <input type="radio" name="plaid_env" id="sandbox" value="sandbox" required {{ 'checked' if plaid_env == 'sandbox' }}>
            </td>
            <td align="center">
                <input type="radio" name="plaid_env" id="development" value="development" required {{ 'checked' if plaid_env == 'development' }}>
            </td>
            <td align="center">
                <input type="radio" name="plaid_env" id="production" value="production" required {{ 'checked' if plaid_env == 'production' }}>
            </td>
        </tr>
        <tr>
            <td align="right">Client secret</td>
            <td align="center">
                <input type="text" name="plaid_secret_sandbox" placeholder="Sandbox secret" size="30" value="{{ plaid_secret_sandbox }}"><br>
            </td>
            <td align="center">
                <input type="text" name="plaid_secret_development" placeholder="Development secret" size="30" value="{{ plaid_secret_development }}"><br>
            </td>
            <td align="center">
                <input type="text" name="plaid_secret_production" placeholder="Production secret" size="30" value="{{ plaid_secret_production }}"><br>
            </td>
        </tr>
        <tr>
            <td align="right">Status</td>
            <td align="center">
                {% if plaid_sandbox_creds_valid %}
                <i class="fa-solid fa-check" style="color: green"></i>
                {% else %}
                <i class="fa-solid fa-xmark" style="color: red"></i>
                {% endif %}
            </td>
            <td align="center">
                {% if plaid_development_creds_valid %}
                <i class="fa-solid fa-check" style="color: green"></i>
                {% else %}
                <i class="fa-solid fa-xmark" style="color: red"></i>
                {% endif %}
            </td>
            <td align="center">
                {% if plaid_production_creds_valid %}
                <i class="fa-solid fa-check" style="color: green"></i>
                {% else %}
                <i class="fa-solid fa-xmark" style="color: red"></i>
                {% endif %}
            </td>
        </tr>
    </table>
    <input type="submit" value="Save">
</form>
<a href="{{ url_for('index') }}">Home</a>

{% endblock %}
